<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <!-- === two-way-data-binding | ngModel === -->
      <input
        type="text"
        [(ngModel)]="nombreTarea"
        (keyup.enter)="agregarTarea()"
        class="form-control form-control-lg"
        placeholder="Ingrese tarea...">
    </div>
    <div class="col-lg-6 offset-lg-3 mt-3">
      <!-- === mostrar si NO hay ninguna tarea === -->
      <div class="card p-2" *ngIf="listaTareas.length === 0">
        <h6>No hay tareas para mostrar</h6>
      </div>
      <!-- === contenido dinámico === -->
      <ul class="list-group">
        <li class="list-group-item shadow mt-3 d-flex justify-content-between" *ngFor="let tarea of listaTareas; let i = index">
          <span class="cursor" (click)="actualizarTarea(tarea, i)">
            <i [class.text-success]="tarea.estado" [ngClass]="tarea.estado ? 'fa fa-check-circle' : 'far fa-circle'"></i>
            <!-- <i class="far fa-circle" aria-hidden="true"></i> -->
            <!-- <i class="fa fa-check-circle" aria-hidden="true"></i> -->
          </span>
          {{ tarea.nombre }}
          <span class="cursor text-danger" (click)="eliminarTarea(i)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
